# general
*.log
*~
.DS_Store

# scala
*.class
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet

# IntelliJ
.idea
.idea/*
!.idea/codeStyleSettings.xml

# Play
logs
project/project/

# web
node_modules/
